body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: rgb(247, 5, 5);
  text-shadow: 1px 1px 4px #000;
}

.highlight {
  padding: 40px 20px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.product {
  width: 250px;
}

.product img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
